.booking {
  border: 1px solid var(--gray-light-color);
  padding: 44px 57px;
  border-radius: 10px;
  flex: 1;
  width: 600px;
}

.bookingTitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.bookingAfterTitle {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
}

.bookingForm {
  display: flex;
  gap: 11px;
  flex-direction: column;
}

.bookingInput {
  padding: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
  background-color: var(--inputs-color);
  border: none;
  width: 100%;
  border-radius: 10px;
}
.react-datepicker-wrapper {
  display: flex;
  width: 100%;
}

.commentInput {
  padding: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
  background-color: var(--inputs-color);
  border: none;
  width: 100%;
  border-radius: 10px;
  height: 118px;
}

.bookingComment {
  resize: none;
  outline: none;
}
.bookingBtn {
  display: block;
  margin: 20px auto 0;
}

.bookingInput::placeholder {
  color: #667085;
  transition: 0.2s;
}

.bookingInput:hover::placeholder {
  color: #000;
}

.bookingInput:focus::placeholder {
  color: #000;
}

.bookingInput:hover,
.bookingInput:focus {
  color: #000;
  outline: none;
  border-color: #dcdfe4;
}

:global(.react-datepicker) {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #475467;
}

:global(.react-datepicker__day--selected) {
  background-color: #475467;
  border-radius: 50%;
  color: white;
}

:global(.react-datepicker__day--today) {
  border: 1px solid #475467;
  background-color: transparent;
  border-radius: 50%;
  color: black;
}

:global(.react-datepicker__current-month) {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #101828;
}

:global(.react-datepicker__day-name) {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #475467;
}

:global(.react-datepicker__navigation) {
  border: none;
  background-color: transparent;
  color: #475467;
  width: 16px;

  cursor: pointer;
  top: 16px;
}

:global(.react-datepicker__navigation--previous) {
  top: 16px;
  left: 10px;
  color: #475467;
}

:global(.react-datepicker__navigation--next) {
  right: 10px;
  color: #475467;
}

:global(.react-datepicker__header) {
  background-color: transparent;
  margin-bottom: 12px;
  /* убрать линию, если есть */
}

:global(.react-datepicker__day--selected:hover),
:global(.react-datepicker__day--keyboard-selected:hover),
:global(.react-datepicker__day:hover) {
  background-color: #475467;
  color: white;
  border-radius: 50%;
}

.error {
  color: var(--btn-color);
  font-size: 10px;
  margin-top: 2px;
}
