.booking {
  border: 1px solid var(--gray-light-color);
  padding: 44px 57px;
  border-radius: 10px;
  flex: 1;
  width: 600px;
}

.bookingTitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.bookingAfterTitle {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
}

.bookingForm {
  display: flex;
  gap: 11px;
  flex-direction: column;
}

.bookingInput {
  padding: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
  background-color: var(--inputs-color);
  border: none;
  width: 100%;
  border-radius: 10px;
}
.react-datepicker-wrapper {
  display: flex;
  width: 100%;
}

.commentInput {
  padding: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
  background-color: var(--inputs-color);
  border: none;
  width: 100%;
  border-radius: 10px;
  height: 118px;
}

.bookingComment {
  resize: none;
  outline: none;
}
.bookingBtn {
  display: block;
  margin: 20px auto 0;
}

.bookingInput::placeholder {
  color: #667085;
  transition: 0.2s;
}

.bookingInput:hover::placeholder {
  color: #000;
}

.bookingInput:focus::placeholder {
  color: #000;
}

.bookingInput:hover,
.bookingInput:focus {
  color: #000;
  outline: none;
  border-color: #dcdfe4;
}
