.locationFilterTitle {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputFilter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: middle;
  width: 100%;
  width: 360px;
  padding: 18px 18px 18px 36px;
  height: 58px;
  border: none;
  border-radius: 12px;
  background-color: var(--inputs-color);
  box-sizing: border-box;
}

.inputFilterIcon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--gray-color);
}

.filterTitle {
  margin-top: 40px;
  margin-bottom: 32px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}
.filterAfterTitle {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.horizontalLine {
  width: 100%;
  height: 1px;
  background-color: var(--gray-light-color);
  margin: 24px 0 24px 0;
}
.featuresWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 360px;
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 96px;
  border: 1px solid var(--gray-light-color);
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  background-color: transparent;
}

.featureItem input {
  display: none;
}

.featureItem.selected {
  border-color: var(--btn-hover-color);
}

.featureIcon {
  margin-bottom: 4px;
}

.featureLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  text-align: center;
}

.vehicleTypeWrapper {
  margin-top: 32px;
}

.searchBtn {
  padding: 16px 56.6px;
  margin-top: 56px;
}
