.heroBackground {
  width: 100%;
  height: 696px;
  background-image: url("/Hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero {
  padding-top: 260px;
  padding-bottom: 260px;
}
.heroTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.7;
  color: var(--inputs-color);
}

.heroAfterTitle {
  margin-top: 16px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--inputs-color);
}
