:root {
  --main-color: #101828;
  --text-color: #475467;
  --gray-color: #6c717b;
  --btn-color: #e44848;
  --btn-hover-color: #d84343;
  --rating-color: #ffc531;
  --gray-light-color: #dadde1;
  --badges-color: #f2f4f7;
  --inputs-color: #f7f7f7;
  --white-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--main-color);
  background: var(--white-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


