.catalogPage {
  padding-top: 48px;
  padding-bottom: 52px;
  display: flex;
  gap: 64px;
}

.loadMoreBtn {
  margin-top: 40px;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.5%;

  padding: 16px 32px;
  padding-right: 32px;
  border-radius: 200px;
  border: 1px solid var(--gray-light-color);
  background-color: transparent;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border-color: var(--btn-hover-color);
}

.catalogCardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noCampersFoundWrapper {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.noCampersFoundCard {
  background: transparent;
  border: 1px solid var(--gray-light-color);
  border-radius: 20px;
  padding: 32px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  animation: fadeIn 0.3s ease-out;
}

.noCampersFoundMessage {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  margin-bottom: 24px;
  line-height: 1.4;
}
