.catalogPage {
  padding-top: 48px;
  padding-bottom: 52px;
  display: flex;
  gap: 64px;
}

.loadMoreBtn {
  margin-top: 40px;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.5%;

  padding: 16px 32px;
  padding-right: 32px;
  border-radius: 200px;
  border: 1px solid var(--gray-light-color);
  background-color: transparent;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border-color: var(--btn-hover-color);
}

.catalogCardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
