.camperDetailContainer {
  padding-top: 48px;
  padding-bottom: 80px;
}

.camperDetailTitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.camperDetailsRating {
  margin-left: 4px;
}

.camperDetailsRatingWrapper {
  display: flex;
  align-items: center;
}

.camperDetailsRatingWrapper:hover {
  text-decoration: underline;
}

.camperDetailsLocationWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.camperDetailsLocation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.camperDetailReviewsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.camperDetailsPrice {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0%;
}

.camperDetailsGallery {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.camperDetailsImg {
  border-radius: 10px;
}

.camperDetailsDescription {
  margin-bottom: 60px;
  margin-top: 28px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}

.camperDetailsBtn {
  margin-top: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  background-color: transparent;
  position: relative;
}

/* .camperDetailsBtn {
  display: flex;
  gap: 40px;
} */

.tabsWrapper {
  position: relative;
}

.tabs {
  display: flex;
  gap: 40px;
}

.camperDetailsBtn:disabled {
  opacity: 1;
}

.camperDetailsBtn.active {
  color: var(--main-color);
}

.camperDetailsBtn.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 5px;
  background-color: var(--btn-color);
  border-radius: 2px;
}

.tabsDivider {
  margin-top: 24px;
  width: 100%;
  height: 1px;
  background-color: var(--gray-light-color);
}

.camperDetailsFeautersWrapper {
  margin-top: 44px;
  display: flex;
  gap: 40px;
}

.camperDetailsFeauters {
  padding: 44px 52px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.camperDetailsFeautersList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.camperDetailsFeautersItem {
  padding: 14px 18px;
  background-color: var(--gray-light-color);
  border-radius: 100px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.camperDetailsFeautersLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.camperDetailsFeautersVehicle {
  margin-top: 100px;
}

.camperDetailsFeautersVehicleList {
  display: flex;
  flex-direction: column;
}

.camperDetailsFeautersVehicleItem {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  font-size: 16px;
}

.camperDetailsFeautersVehicleTitle {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.camperDetailsFeautersVehicleItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.reviewItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}
.reviewerHeader {
  display: flex;
  margin-bottom: 16px;
}

.reviewerAvatar {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: var(--btn-color);
  opacity: 1;
  border-radius: 60px;
  background-color: var(--badges-color);
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.starFilled use {
  fill: #ffc531;
}

.starEmpty use {
  fill: #f2f4f7;
}

.reviewerNameRating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  margin-left: 16px;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.reviewComment {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: var(--text-color);
}
